:root {
  /* insert variables here*/
  --primary-rgb: rgb(74, 76, 79);
  --primary-color: #4a4c4f;

  --secondary-rgb: rgb(192, 235, 178);
  --secondary-color: white;

  --tertiary-rgb: rgb(65, 128, 45);
  --tertiary-color: #2d4780;

  --quaternary-color: rgba(88, 75, 67, 0.678);

  --hover-color: rgb(224, 224, 224);
}
* {
  /* all element styles here */
  box-sizing: border-box;
  /*
  background-color: var(--quaternary-color);*/
  border-radius: 15px;
  margin: 0;
  padding: 0;
}

body {
  /* body element styles*/
  color: var(--tertiary-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* START header styles */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url("../images/mt-background-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  z-index: 9999;
  margin: 0 auto 35px auto;

  padding: 20px;
}

header nav {
  display: flex;
  align-items: center;
  margin: 10px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 20px 20px;
  font-size: calc(16px + .55vw);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: rgb(74, 76, 79, 0.5);
  text-decoration: none;
  margin: 10px;
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
  border: var(--primary-color) solid 3px;
}

header h1 a {
  font-weight: bold;
  font-size: calc(36px + .75vw);
  color: var(--secondary-color);
  margin: 20px;
  padding: 10px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgb(74, 76, 79, 0.1);
  text-decoration: none;
}

header h1 a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
  padding: 10px 10px;
}
/* END header styles */

/* START about me styles */
.about-me .flex-row {
  width: 79%;
  margin: auto auto 35px auto;
  border: rgba(0, 0, 0, 0) solid 5px;
  background-color: var(--secondary-color);
  justify-content: center;
  align-items: center;
}

.about-me h2 {
  font-size: 48px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: var(--primary-color);
  border-radius: 0px;
  border-right: 3px solid;
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
}

.about-me p {
  font-size: 24px;
  color: var(--primary-color);
  border-bottom: #4a4c4f;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: var(--secondary-color);
  overflow: auto;
}

.about-me img {
  padding: 10px;
  width: 300px;
  height: 200px;
}

/* END about me styles */

.center-title {
  font-size: 48px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 3px solid;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.project-name {
  float: left;
  font-size: 48px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-right: 3px solid;
  text-align: right;
  margin: 0 auto 35px auto;
  width: 20%;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 0;
  align-items: center;
  height: 1250px;
  padding-right: 20px;
  padding-top: 100px;
  
}


.name {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-radius: 0px;
  padding-bottom: 15px;
  font-size: 36px;
}

/* START HERO STYLES */

.hero {
  margin: 0 auto 35px auto;
  display: flex;
  border-radius: 10px;
  width: 100%;
  position: relative;
  text-align: center;
}

.hero button {
  width: 100%;
  margin: 20px;
  height: 400px;
}

.hero button img {
  width: 100%;
  height: 100%;
  opacity: .3;
}

.hero-card {
  font-size: 36px;
  color: var(--primary-color);
  text-align: center;
  margin: 0 auto 35px auto;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 8px;
  color: var(--primary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shadow {
  background-color:rgb(255, 204, 141, .3);
}

.hero button:hover img {
  opacity: .7;
}

.hero-card h3 {
  font-size: xx-large;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  background-color: rgb(255, 255, 255, 1);
  margin: 20px;
  white-space: nowrap;
}


.hero-card a {
  text-decoration: none;
  color: black;
}
.hero-card p {
  padding: 20px;
  background-color: rgb(255, 255, 255, 1);
  font-weight: 500;
  font-size: calc(16px + .5vw);
}
/* END HERO STYLES */

/* START project styles */

.other-projects {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.project {
  margin: 0 auto 35px auto;
  display: flex;
  border-radius: 10px;
  width: 50%;
  position: relative;
  text-align: center;
}

.project button {
  width: 100%;
  margin: 20px;
  height: 200px;
}

.project button img {
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.project button:hover img {
  opacity: 0.7;
}

.project-card {
  font-size: calc(16px + .1vw);
  color: var(--primary-color);
  text-align: center;
  margin: 0 auto 35px auto;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 8px;
  color: var(--primary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.project-card h3 {
  font-size: xx-large;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  background-color: rgb(255, 255, 255, 1);
  margin: 20px;
}

.project-card a {
  text-decoration: none;
  color: black;
}

.project-card p {
  padding: 20px;
  background-color: rgb(255, 255, 255, 1);
  font-weight: 500;
}

/* END project styles */

/* START contact styles */
#my-contact-info {
  clear: both;
}

.contact-card {
  font-size: 36px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 0px solid;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--secondary-color);
  margin: 0 auto 35px auto;
  text-align: center;
}

.contact-card button a img {
  width: 400px;
}
/* END contact styles*/
/* START footer styles */
footer {
  background: var(--secondary-color);
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 3px solid;
}

footer h4 {
  color: var(--primary-color);
  font-size: 30px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
  font-size: 24px;
  color: var(--primary-color);
}

/* END footer styles */

/* START utility styles */
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.primary-border {
  border-color: var(--primary-color);
}
/* END utility styles */

/* START MEDIA QUERIES */
@media screen and (max-width: 1280px) {
  .project-card {
    font-size: calc(12px + .1vw);
  }
  
}

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    padding: 5px 5px;
    padding-bottom: 25px;
    margin: 0px;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h4,
  footer div {
    text-align: center;
    width: 100%;
  }

  .about-me p,
  h2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }

  .about-me h2 {
    font-size: 48px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    color: var(--primary-color);
    border-right: 0px;
    text-align: center;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 3px solid;
  }

  .about-me .flex-row {
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
    border: rgba(0, 0, 0, 0.5) solid 5px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin: 0 auto 35px auto;
  }

  .project-card {
    font-size: calc(16px + .1vw);
  }
  .projects {
    display: flex;
    flex-direction: column;
  }

  .other-projects {
    flex-direction: column;
  }

  .project {
    width: 100%;
  }

  .project-name {
    height: auto;
    width: 100%;
    border: #4a4c4f 3px solid;
    text-align: center;
  }
  
  .contact {
    flex-direction: column;
  }
}

@media screen and (max-width: 640px) {
  .center-title {
    width: 100%;
  }

  .hero {
    width: 100%;
  }

  .hero-card {
    width: 80%;
    flex-direction: column;
  }

  .project-card {
    width: 80%;
    flex-direction: column;
  }

  nav ul a {
    display: inline-block;
  }

  .project button {
    height: 300px;
  }

  

  .contact-card button a img {
    width: 100%;
  }
}
